body *{
    font-family: 'Open Sans', sans-serif;
  }
  

.mainDivider {
    background-color: rgb(64, 29, 34);
    padding-top: 5px;
    padding-bottom: 5px;

    
  }

  .bigMainTitle{
    font-weight: 1000;
    color:rgb(250, 248, 245);
    font-size: 28px;
    text-align: center;
    margin-top: -1px;
  }

  .subTitle {
    text-align: center;
    font-size: 15px;
    color:azure;
    margin-top:-20px;
  }
  

#fileUploadSection{
    background-color: #732D45;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    
}

.drop-area{
    display: flex;
    justify-content: space-between;
}


.file-upload-instructions{
    color: white;
    font-size: 15px;
    font-weight: 700;
    
}

.drop-box{
    margin-top: 15px;
    height: fit-content;
    font-size: 15px;
    font-weight: 700;
    color: black;
    background-color: white;
}


#predictionSection{
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #732D45;
    
}

#predictionDiv{
    display: flex;
    justify-content: center;
    
}

#makePredictionButton{
    background-color: #732D45;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
     
}



.labelSection{
    
    background-color: #F1ECDE;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #732D45;
   
}

.label{
    color: #732D45;
    text-align: center;
    margin: -1px;
    font-size: 20px;
}


.filter{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    background-color: #D3D3D3;
    color: black;
    border-radius: 10px;

}

#filterLabel{
    font-size: 20px;
    margin: -1px;
    padding-bottom: 6px;
}

#filterDiv{
    margin-top: 40px;
    display: inline-block;
}

#exportBtn{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    
} 

#exportDiv{
    padding-top: 20px;
    display: flex;
    justify-content: end;
}

#loss{
    font-size: 20px;
    color: #732D45;
    font-weight: 700;
}

#OutputVisSection{

    padding-top: 100px;
    padding-bottom: 100px;
}


.footer {
    text-align: center;
    font-size: 15px;
    color:azure;
    
  }






